<h1>heuristic</h1>

<table border="1">
{% for x in myheuristic %}
<tr>
<td><a href="update2/{{ x.id }}">{{ x.id }}</a></td>

<td>{{ x.heuristic_name }}</td>
<td>{{ x.heuristic_value }}</td>
<td><a href="delete2/{{ x.id }}">delete</a>
</tr>
{% endfor %}
</table>

<p>
    <a href="add2/"  style="background-color: #0000ff; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Add heuristic</a>
</p>

<p style="text-align:center;"><strong>To return to the main page : </strong><a href="{% url 'index' %}" style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">RETURN</a></p>
